.*.sw?
.yardoc
dist/
pkg/
spec/fixtures/*
!spec/fixtures/hieradata/
!spec/fixtures/hieradata/*
spec/fixtures/hieradata/hiera.yaml
spec/rp_env/
.rspec_system
.vagrant/
.bundle/
Gemfile.lock
vendor/
junit/
log/
doc/
.idea/
